.background-image {
  /* background-image: url('/backgroundImage.jpeg');  */
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  height: 100vh; /* Adjust the height as needed */
}

body{
  background-color: black;
  margin: 0;
}